*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
	color: #222;
}



.navbar{
	padding: 1rem;
	background-color: #1a1a1d;
}

.navbar-brand img{
	width: 45px;
}

.navbar-nav li{
	padding-right: 20px;
	font-size: 1.2rem;
}

.nav-link{
	font-size: 1.1em;
}

.carousel-inner img{
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
	line-height: 1;

}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
}

.carousel-caption h1{
	font-size: 5rem;
	text-transform: uppercase;
	text-shadow: 1px 1px 20px #000;
	position: relative;
}

.carousel-caption h3{
	font-size: 2rem;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
}


#carousel{
	padding-left: 0%;
	padding-right: 0%;
	padding-top:0rem;
	padding-bottom: 3rem;
	margin-left: 0;
	margin-right: 0;
}

#about{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#about h1{
	padding-bottom: 2rem;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
}

#about p{
	text-align: justify;
}

#about img{
	padding-bottom: 1rem;
}

#projects{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#projects h1{
	padding-bottom: 2rem;
	text-shadow: 1px 1px 10px #000;
	color: white;
	text-transform: uppercase;
}

.card{
	padding-bottom: 2rem;
}

#projects {
	background-image: url("img/card3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}



#contact{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}



#footer{
	background-color: #343a40;
	color: white;
	padding-top: 2rem;
	font-size: 80%;
}

 #gmap_canvas{
	height: 100%;
	width: 100%;
	position: relative;
}


/*.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #430297;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}*/

--------------------------------------

.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#222;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}

#ul-float{
	position:fixed;
	right:40px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

#ul-float li{
	list-style:none;
	margin-bottom:10px;
}

#ul-float li a{
	background-color:#222;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px;
	display:block;
}

#ul-float:hover{
	visibility:visible!important;
	opacity:1!important;
}


.my-float{
	font-size:70px;
	margin-top:23px;
}

a#menu-share + ul{
  visibility: hidden;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}